*{
    padding: 0px;
    margin: 0px;
}

body, html{
    height: 100%;
    width: 100%;
}

.left{
    position: fixed;
    height: 100%;
    width: 50%;
    background-color: #070707;
    background-size: contain;
    background-image: url(../img/background.jpg);
    background-attachment: inherit;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    box-shadow: 4px 4px 20px #666;
}

.rigth{
    position: fixed;
    height: 100%;
    width: 50%;
    margin-left: 50%;
}


.sub-right{
    margin-top: 18%;
    margin-left: 25%;
    margin-right: 25%;
}
.sub-right-2{
    margin-left: 25%;
    margin-right: 25%;
}

h1, h4{
    color: #153C6B;
}

input{
    padding-left: 3%;
}

.btn-primary{
    padding: 1% 5% 1% 5%;
    background-color: #153C6B;
    border-color: #153C6B;
    border-radius: 1rem;
    font-weight: 500;
}

.img{
    width: 70%;
    margin-bottom: 7%;
}