{% extends 'homeBase.html' %}
{% load static %}

{% block answers %}
<div class="space-from-navbar pb-5 pt-3 w-100" style="box-shadow: 2px 2px 8px #000; margin-left: auto !important; margin-right: auto !important;">
    <div class="mt-5 questions-content" style="border: 1px solid #000; border-radius: 0.5%;">
        <div class="container-fluid d-flex flex-row justify-content-between align-items-start">
            <div class="row">
                <div class="col-12 d-flex flex-column justify-content-start align-items-start mt-3">
                    <div class="row">
                        <div class="col-11 d-flex flex-column justify-content-start align-items-start">
                            <p class="h2 font-weight-bold" style="color: #000;">{{question.contenido}}</p>
                        </div>
                        <div class="col-11 d-flex flex-column justify-content-center align-items-center">
                            <p class="w-100 mt-2 pb-2" style="border-bottom: 1px solid #000; font-size: large; color: #000;">{{question.descripcion}}</p>
                        </div>
                    </div>
                    <div class="container-fluid d-flex flex-column justify-content-center align-items-start mt-2 " style="height: 5%;">
                        <p>
                            <span>Publicado: {{question.fecha}}</span>
                            <span>|</span>
                            <span>Por: {{question.usuario}}</span>
                            <span>|</span> 
                            <span>Categoria: {{question.categoria}}</span>
                            <span>|</span>        
                            <span># de respuestas: {{answers|length}}</span>
                            <span>|</span>                           
                        </p>
                    </div>
                </div>               
            </div>
        </div>
        <!-- TEST-RESPUESTA -->
        <div class="container-fluid">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        {% if answers|length != 0 %}
                        <th scope="col-6" style="text-align: center;">Respuestas</th>
                    </tr>

                </thead>
            </table>
        </div>
        
        {% for answer in answers %}
        <div class="answers-content mb-3" style="border: 1px solid #000; border-radius: 0.5%;">
            <div class="container-fluid d-flex flex-row justify-content-between align-items-start">
                <div class="row">
                    <div class="col-12 justify-content-center align-items-center">
                        <div class="row">
                            <p class="h4 font-weight-bold pl-3" style="color: #000;">Respuesta: {{answer.usuario}} | Publicada: {{answer.fecha}}</p>
                            <div class="col-11 d-flex flex-column justify-content-start align-items-start">                        
                                <p class="h5" style="border-top: #000 1px solid;">{{answer.contenido}}</p>
                            </div>
                        </div>
                    </div>               
                </div>
            </div>
        <!-- FIN TEST-RESPUESTA -->
        </div>
        {% endfor %}
        {% elif answers|length == 0 %}
                <th scope="col-6" style="text-align: center;">Esta pregunta aún no tiene respuestas</th>
            </tr>
        </thead>
        </table>
        <div class="container mt-3 mb-3">
            <a href="">
                <button type="button" class="btn btn-lg btn-light btn-block btn-outline-secondary">
                    Escribir una respuesta
                </button>
            </a>
        </div>
        </div>
        {% endif %}
    </div>
</div>
</body>
</html>
{% endblock %}