{% extends 'base.html' %}
{% load static %}

    {% block login %}
            <div class="container"> <br><br>
                <div class="text-center">
                    <img src="{% static 'img/quanda.jpg' %}" class="img">
                </div>
                <h1 class="text-center">Inicio de Sesión</h1> <br>
                <form action="{% url 'login' %}" class="center-block" method="POST">
                    {% csrf_token %}  
                    <div class="form-group">
                        {%for field in form%}
                            {{field.label_tag}}<br>
                            {{field}} <br>
                        {% endfor %} <br>
                        <div class="text-center">
                            <input type="submit" value="Entrar" class="btn btn-primary" class="text-center"> <br><br>
                        </div>
                    </div>
                </form>
                <div class="text-center">
                    <a href="{% url 'registro' %}">
                        <button class="btn btn-primary">No tengo cuenta</button>
                    </a>
                </div><br>
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-info" role="alert">
                    {{message}}, pero puedes registrarte :D
                    <br>En caso de que estes seguro de que existe, entonces te equivocaste en alguno de los campos
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
</body>
</html>
{% endblock %}